body {
    margin: 0;
}


#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e4e4e4;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 101;
}


#style-icon {
    cursor: pointer;
    font-style: normal;
}

#side-bar {
    position: fixed;
    top: 36px;
    left: 0px;
    height: 100%;
    width: 110px;
    z-index: 100;
    transition: transform 0.3s ease;
    background-color: #e4e4e4;
}

#side-bar li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 40px;
    width: 300px;
    text-align: center;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

#main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
    margin: 0;
}
li.active {
    font-weight: bold;
    color: blue;
}


.style1 {
    background-color: #b75151;
}

.style2 {
    background-color: #1a1064;

}

.style3 {
    background-color: #177425;

}